body {
    font-family: 'Roboto', 'Roboto Regular', 'Lucida Grande', 'Roboto Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 80%;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: aquamarine;
}

#game {
    display: none;
    flex-direction: column;
}

#game img {
    width: 50%;
}

#wrong_chars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#wrong_chars p {
    background: black;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: larger;
}